.image-book{
  width: 233px;
  height: 251px;
}
.text-area{
  background: #fff;
  border: 1px solid #abbbc2;
  border-radius: 6px;
  position: relative;
  height: 85px !important;
  width: 700px !important;
  margin: 0 0 15px;
  padding: 10px;
  color: #565656;
  font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.button {
  float: right;
  padding: 10px 36px;
  background: url(btn2.gif) repeat-x;
  border-radius: 10px;
  font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0 0 0 20px;
  position: relative;
  width: 147px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.introduction {
  height: 30px;
}
.book-author {
  color: #1b1919 ;
  font-weight: bold;
  overflow: hidden;
}
.title-book {
  color: #365899 !important;
  font-size: 17px;
  font-weight: bold;
  overflow: hidden;
  text-decoration: lavender !important;
}
.title-content {
  text-align: center !important;
}
.input-search {
  height: 36px !important;
  margin-top: 5px;
  margin-bottom: 5px;
}
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.search-alert {
  height: 100px;
  font-size: 18px;
}
.form-search-detail {
  width: 200px;
  margin-left: 7px;
  margin-top: 11px;
}
.label-form {
  margin-top: 5px;
}
.seach-btn {
  margin-top: 28px;
  background-color: #337ab7 !important;
  color: white !important;
}
.author {
  margin-top: 4px !important;
  color: #365899 !important;
  font-weight: bold !important;
  font-size: 15px !important;
}
.btn-edit {
  width: 82px;
  background-color: #006e99;
  color: white;
  margin-right: 5px;
}
.button-review {
  color: white;
  width: 130px;
  background-color: #006e99;
  color: white;
  margin-right: 19px;
  float: right;
  height: 30px !important;
  margin-top: -1px;
  border-radius: 4px;
}
.button-review:hover {
  color: white !important;

}
.book-rate {
  font-size: 22px !important;
  margin-left: 5px;
}
.rating-display {
  margin-left: -40px;
}
.no-star{
  float: right;
  margin-right: 105px !important;
}
.no-star-detail {
  float: right;
  margin-right: 216px !important;
}
.ul-publish-date{
  margin-top: 19px;
  margin-left: -40px;
}
.list-group {
  margin-bottom: 0 !important;
  list-style:none;
}
.content-review{
  color: #1d2129;
  margin-left: 89px;
  border: 5px;
  margin-bottom: 20px;
  border-radius: 7px;
  padding: 10px;
  background-color: #e2f9f6;
}
.edit_review {display: none}
.avatar-comment{
  float:right;
}
.author-comment{
  color: #365899 !important;
  font-weight: bold !important;
  font-size: 15px !important;
}
.content-comment{
  color: #1d2129;
  margin-bottom: 19px;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  background-color: #fcfcfc;
}
.text-comment{
  height: 100px;
}
.arlert-login{
  color: #151ba5;
  font-size: 16px;
  text-align: center;
  background: #ebeff2;
  width: 100%;
  height: 29px;
  border-radius: 5px;
  padding: 5px;
}
.frame-box{
  background-color: #f1f1f3 !important;
}
.text-area-comment {
  background: #fff;
  border: 1px solid #abbbc2;
  border-radius: 6px;
  position: relative;
  height: 65px !important;
  width: 600px !important;
  margin: 0 0 15px;
  padding: 10px;
  color: #565656;
  font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.new_mark{
  display: none;
  margin-top: 40px;
  background: rgba(0, 37, 255, 0.08);
  border-radius: 10px;
  padding: 10px;
  color: #363636;
  border: 1px;
  border-style: solid;
  border-color: #93b8bd;
}
.reading-label{
  margin-top: 15px;
}
#mark_status_true{
  width: 245px;
}
#mark_status_false{
  width: 40px;
  margin-left: 109px;
  margin-top: 27px;
}
.title-label{
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.img-readed{
  margin-left: 3px;
  margin-bottom: 2px;
}
.edit_mark{
  display: none;
  margin-top: 35px;
  background: rgba(0, 37, 255, 0.08);
  border-radius: 10px;
  padding: 10px;
  color: #363636;
  border: 1px;
  border-style: solid;
  border-color: #93b8bd;
}
.unmark-link{
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: white !important;
  background: #a94442;
  width: 131px;
  text-decoration: none !important;
}
.unmark-link:hover{
  opacity:0.8;
  background:rgb(169, 66, 78);
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 10px 0 5px 0px;
  a {
    float: left;
    margin-right: 10px !important ;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
.following-user{
  margin-right: 10px;
  color: blue;
}
.follower-user{
  color: blue;
}
.follow-btn{
  background: #337ab7 !important ;
  text-align: center;
  padding: 10px !important;
  width: 50px !important;
}
.unfollow-btn{
  background: #eee !important;
  text-align: center;
  padding: 10px !important;
  width: 70px !important;
}
.avatar-user-infor {
  width: 130px;
  height: 130px;
  margin: 32px;
}
.user_info {
  text-align: center;
  list-style: none;
  padding: 10px 5px 0 10px ;
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  a {
    padding: 0;
  }
}
.gravatar {
  width: 50px;
  height: 50px;
  margin: 1px 1px;
  }
.users.follow {
  padding: 0;
}
.col-content-follow{
  border-top: 1px solid;
  margin-top: 10px;
  border-color: #e9dbdb;
  color: #6c6666;
}
.users-follow-show{
  list-style: none;
}
.item-user-follow{
  margin-bottom: 10px;
}
.timeline-block{
  width: 100% !important;
  background: #f9f9f9;
  border: 1px solid #e8e8e8;
  border-radius: 9px;
  position: relative;
  padding: 11px 0 0;
  width: 254px;
  min-height: 170px;
  max-height: 400px;
  float: left;
  margin: 0 20px 53px 0;
  width: 720px;
  font: 14px Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.38;
  display: block;
  overflow: hidden;
}
.timeline-subholder{
  width: 100% !important;
}
.navbar-timline{
  background: #3b5998 !important;
  text-align: center;
  border-radius: 6px 6px 0 0px !important;
}
.avatar-user{
  height: 70px;
  width: 70px;
  float: left;
  margin-left: 6px;
}
.user-infor{
  height: 72px;
  margin-left: 10px;
}
.user-name-link{
  color: #365899 !important;
  font-weight: bold;
  cursor: pointer;
}
.footer-like-box{
  padding: 10px;
  margin: 10px;
  border-top: 1px solid #e5e5e5;
}
.content-review-box{
  padding: 10px;
  margin: 6px;
}
.like-btn{
  background: url(like-gray.png) no-repeat  !important;
  width: 42px;
  height: 28px;
  padding: 2px;
}
.like-btn:hover{
  background: url(like-blue.png) no-repeat  !important;
  width: 42px;
  height: 28px;
}
.avatar-newsfeed{
  width: 50px;
  height: 50px;
}
.timeline-block a{
  color: blue;
  cursor: pointer;
}
